/* CSS declarations go here */
body {
    font-family: sans-serif;
    background: #999 url(2.jpg);



    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {

    margin: 10px 10px;
    min-height: 100%;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #000ff5, #f0bba1 100%);
    padding: 20px 15px 5px 15px;
    position: relative;
}

#div1,#div2,#div3,#div4,#div5
{float:left; width:300px; height:300px; margin:10px;border:1px solid none;}

img {
    background-size: contain;
    border-color: black;
}

#gif {
    display: none;
    width: 1000px;
    height: 800px;

}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}
